@import "tailwindcss";

html {
    scroll-behavior: smooth;
}

.glow {
    text-shadow: 0 0 10px rgb(181, 67, 181);
  }

.cursor {
    display: inline-block;
    width: 7px; /* thinner */
    height: 1em;
    background-color: white;
    margin-left: 5px;
    animation: blink 0.8s steps(1) infinite;
    vertical-align: -0.12em;
  }

@keyframes blink {
    0%, 100% { opacity: 1; }
    50% { opacity: 0; }
  }

